.pokedex-box {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    background-color: white;
}

.pokedex-box nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    padding: 3rem;
    animation: showTop 0.5s 1;
}

/* .bxs-left-arrow {
    font-size: 3rem;
} */

@keyframes zoom {
    0%{
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }
  
    100%{
        transform: scale(1)
    }
  }


@keyframes showTop {
    0%{
      transform: translatey(-350px);
    }
  
    100%{
      transform: translatey(0px);
    }
  }

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 3rem;
    animation: zoom 1s linear ;
}

.sideBox {
    width: 375px;
    height: 100vh;
    background-color: brown;
}

.hide {
    position: absolute;
    top: 0;
    right: -375px;
    transition: 0.5s;
}

.show {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
}