.pokedex-box {

    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    background-color: white;
    
}

.pokedex-box nav {
    background-color: brown;
    padding: 3rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 3rem;
}

